@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@font-face {
  font-family: "KHNPHD";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KHNPHD.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
}

button {
  cursor: pointer;
}

input {
  border: none;
}

.hide {
  display: block;
  overflow: hidden;
  width: 1px;
  height: 1px;
  transform: translate(-1px, -1px);
}

* {
  font-family: "Noto Sans KR", sans-serif;
  color: #141414;
}

body {
  font-size: 15px;
  margin: 0;
}

/* HTML Contents hide */
/*########### common CSS ###########*/
section:not(.slide-banner) {
  padding: 40px 0;
}

[class*=inner] {
  width: 100%;
  padding: 0 55px;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 0;
}
.desc .title {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.desc .title > * {
  display: block;
  user-select: none;
}
.desc .title b {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 800;
}
.desc .title span {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}
.desc .btns {
  margin-top: 40px;
  display: flex;
  gap: 15px;
}
.desc .btns button.btn-style {
  flex: 1;
  background-color: #fff;
  border: 1px solid #141414;
  border-radius: 5px;
  padding: 12px 24px;
}
.desc .btns button.btn-style span {
  display: inline-block;
  min-width: 80px;
  font-size: 16px;
}
.desc .btns button.btn-style:last-child {
  background-color: #141414;
}
.desc .btns button.btn-style:last-child span {
  color: #fff;
}

/*########### Header ###########*/
header {
  width: 100%;
  position: relative;
}
header .header-menu .header-menu-sub {
  padding: 9px 0;
  background-color: #e5e5e5;
}
header .header-menu .header-menu-sub .header-menu-sub-inner {
  display: flex;
  justify-content: space-between;
}
header .header-menu .header-menu-sub .header-menu-sub-inner .about-nb {
  display: flex;
  align-items: center;
  gap: 30px;
}
header .header-menu .header-menu-sub .header-menu-sub-inner .about-nb .nb-country::after {
  content: "|";
  position: absolute;
  display: inline-block;
  color: rgba(20, 20, 20, 0.2);
  transform: translateY(-4px);
  margin-left: 16px;
  cursor: none;
}
header .header-menu .header-menu-sub .header-menu-sub-inner .help-nb {
  display: flex;
  align-items: center;
  gap: 18px;
}
header .header-menu .header-menu-sub .header-menu-sub-inner .help-nb a {
  font-size: 13px;
}
header .header-menu .header-menu-sub .header-menu-sub-inner .help-nb a:last-child::after {
  display: none;
}
header .header-menu .header-menu-sub .header-menu-sub-inner .help-nb a::after {
  content: "|";
  position: absolute;
  display: inline-block;
  cursor: none;
  color: rgba(20, 20, 20, 0.2);
  transform: translateY(-2px);
  margin-left: 8px;
}
header .header-menu .header-menu-main {
  position: relative;
}
header .header-menu .header-menu-main .header-menu-main-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-menu .header-menu-main .header-menu-main-inner .logo-gnb {
  display: flex;
  align-items: center;
  gap: 45px;
}
header .header-menu .header-menu-main .header-menu-main-inner .logo-gnb .gnb {
  display: flex;
  height: 100%;
}
header .header-menu .header-menu-main .header-menu-main-inner .logo-gnb .gnb a {
  flex: 1;
  padding: 30px 0;
  margin: 0 25px;
  max-width: fit-content;
  position: relative;
}
header .header-menu .header-menu-main .header-menu-main-inner .logo-gnb .gnb a span {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -1px;
}
header .header-menu .header-menu-main .header-menu-main-inner .logo-gnb .gnb a::after {
  content: "";
  display: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom: 3px solid #cf0a2c;
}
header .header-menu .header-menu-main .header-menu-main-inner .logo-gnb .gnb a:hover::after {
  display: block;
}
header .header-menu .header-menu-main .header-menu-main-inner .logo-gnb .gnb .launching {
  position: relative;
  flex: 1;
  padding: 30px 0;
  margin: 0 25px;
  max-width: fit-content;
  cursor: pointer;
}
header .header-menu .header-menu-main .header-menu-main-inner .logo-gnb .gnb .launching span {
  color: #cf0a2c;
}
header .header-menu .header-menu-main .header-menu-main-inner .logo-gnb .gnb .launching::after {
  content: "";
  display: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom: 3px solid #cf0a2c;
}
header .header-menu .header-menu-main .header-menu-main-inner .logo-gnb .gnb .launching:hover::after {
  display: block;
}
header .header-menu .header-menu-main .header-menu-main-inner .search-login-cart {
  display: flex;
  align-items: center;
  gap: 32px;
}
header .header-menu .header-menu-main .header-menu-main-inner .search-login-cart .search {
  cursor: pointer;
}
header .header-menu .header-menu-main .header-menu-main-inner .search-login-cart .search .bi {
  font-size: 30px;
}
header .header-menu .header-menu-main .header-menu-main-inner .search-login-cart .login-count {
  display: flex;
  align-items: center;
  gap: 16px;
}
header .header-menu .header-menu-main .header-menu-main-inner .search-login-cart .login-count .bi {
  font-size: 30px;
  cursor: pointer;
}
header .header-menu .header-menu-main .header-menu-main-inner .search-login-cart .login-count a {
  position: relative;
}
header .header-menu .header-menu-main .header-menu-main-inner .search-login-cart .login-count a:first-of-type::after {
  content: "|";
  position: absolute;
  display: inline-block;
  cursor: none;
  color: rgba(20, 20, 20, 0.4);
  font-size: 12px;
  transform: translateY(1px);
  margin-left: 6px;
}
header .header-menu .header-menu-main .header-menu-main-inner .search-login-cart .cart a {
  font-size: 30px;
}
header .mega-navi {
  position: absolute;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}
header .mega-navi .mega-navi-inner {
  display: none;
  gap: 5px;
  padding: 0 185px;
}
header .mega-navi .mega-navi-inner .mega-navi-item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 18vh;
  padding: 24px 0;
}
header .mega-navi .mega-navi-inner .mega-navi-item > * {
  display: inline-block;
  width: fit-content;
  font-size: 14px;
  margin: 5px 0;
}
header .mega-navi .mega-navi-inner .mega-navi-item:not(:first-child) {
  padding-left: 30px;
}
header .mega-navi .mega-navi-inner .mega-navi-item:first-child::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 95%;
  border-right: 1px solid rgba(20, 20, 20, 0.2);
}
header .mega-navi .mega-navi-inner .mega-navi-item:last-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 95%;
  border-right: 1px solid rgba(20, 20, 20, 0.2);
}
header .mega-navi .mega-navi-inner .mega-navi-item a:hover {
  text-decoration: underline;
}

/*########### Slide-banner ###########*/
.slide-banner .slide-banner-inner {
  overflow: hidden;
}
.slide-banner .slide-banner-inner .slide-banner-items {
  display: flex;
  gap: 55px;
  z-index: 50;
}
.slide-banner .slide-banner-inner .slide-banner-items .slick-next,
.slide-banner .slide-banner-inner .slide-banner-items .slick-prev {
  top: 38%;
  padding: 24px;
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 70%;
  z-index: 51;
  transition: 0.3s;
}
.slide-banner .slide-banner-inner .slide-banner-items .slick-prev {
  transform: translateX(40px);
}
.slide-banner .slide-banner-inner .slide-banner-items .slick-next {
  transform: translateX(-40px);
}
.slide-banner .slide-banner-inner .slide-banner-items .slick-next:before,
.slide-banner .slide-banner-inner .slide-banner-items .slick-prev:before {
  display: inline-block;
  content: "\f285";
  font-family: bootstrap-icons;
  font-size: 18px;
  font-weight: 700;
  color: #141414;
  z-index: 51;
}
.slide-banner .slide-banner-inner .slide-banner-items .slick-prev:before {
  transform: rotateY(180deg);
}
.slide-banner .slide-banner-inner .slide-banner-items .slide-banner-item .slide-item-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slide-banner .slide-banner-inner .slide-banner-items .slide-banner-item .slide-item-wrap .pic {
  cursor: pointer;
}

/*########### Korea-Tshirts ###########*/
.korea-tshirts {
  margin-top: 10vh;
}
.korea-tshirts .korea-tshirts-inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.korea-tshirts .korea-tshirts-inner .title {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.korea-tshirts .korea-tshirts-inner .title > * {
  display: block;
  user-select: none;
}
.korea-tshirts .korea-tshirts-inner .title b {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}
.korea-tshirts .korea-tshirts-inner .title span {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}
.korea-tshirts .korea-tshirts-inner .contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.korea-tshirts .korea-tshirts-inner .contents .korea-tshirts-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.korea-tshirts .korea-tshirts-inner .contents .korea-tshirts-items .korea-tshirts-item {
  width: 24%;
  cursor: pointer;
}
.korea-tshirts .korea-tshirts-inner .contents .korea-tshirts-items .korea-tshirts-item .thum {
  position: relative;
  height: 0;
  padding-top: 120%;
  border-radius: 5px;
}
.korea-tshirts .korea-tshirts-inner .contents .korea-tshirts-items .korea-tshirts-item .thum img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.korea-tshirts .korea-tshirts-inner .contents .korea-tshirts-items .korea-tshirts-item .overview {
  margin-top: 40px;
}
.korea-tshirts .korea-tshirts-inner .contents .korea-tshirts-items .korea-tshirts-item .overview > * {
  display: block;
}
.korea-tshirts .korea-tshirts-inner .contents .korea-tshirts-items .korea-tshirts-item .overview span.name {
  font-size: 18px;
  font-weight: 400;
}
.korea-tshirts .korea-tshirts-inner .contents .korea-tshirts-items .korea-tshirts-item .overview span.price {
  font-family: "KHNPHD";
  font-size: 18px;
  font-weight: 900;
  margin-top: 8px;
}
.korea-tshirts .korea-tshirts-inner .contents .btn-style {
  flex: 1;
  background-color: #fff;
  border: 1px solid #141414;
  border-radius: 5px;
  padding: 12px 24px;
  margin-top: 50px;
}
.korea-tshirts .korea-tshirts-inner .contents .btn-style span {
  display: inline-block;
  min-width: 80px;
  font-size: 16px;
}

/*########### Shorts-Pants ###########*/
.shorts-pants {
  margin-top: 10vh;
}
.shorts-pants .shorts-pants-inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.shorts-pants .shorts-pants-inner .title {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.shorts-pants .shorts-pants-inner .title > * {
  display: block;
  user-select: none;
}
.shorts-pants .shorts-pants-inner .title b {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}
.shorts-pants .shorts-pants-inner .title span {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}
.shorts-pants .shorts-pants-inner .contents {
  position: relative;
  width: 100%;
}
.shorts-pants .shorts-pants-inner .contents .shorts-pants-items {
  position: relative;
  width: 100%;
  display: flex;
}
.shorts-pants .shorts-pants-inner .contents .shorts-pants-items .slick-list {
  margin: 0 -12px;
}
.shorts-pants .shorts-pants-inner .contents .shorts-pants-items .slick-slide {
  margin: 0 12px;
}
.shorts-pants .shorts-pants-inner .contents .shorts-pants-items .shorts-pants-item {
  flex: 1;
  display: block;
  position: relative;
  cursor: pointer;
}
.shorts-pants .shorts-pants-inner .contents .shorts-pants-items .shorts-pants-item .thum {
  position: relative;
  height: 0;
  padding-top: 120%;
  border-radius: 5px;
}
.shorts-pants .shorts-pants-inner .contents .shorts-pants-items .shorts-pants-item .thum img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.shorts-pants .shorts-pants-inner .contents .shorts-pants-items .shorts-pants-item .overview {
  margin-top: 40px;
}
.shorts-pants .shorts-pants-inner .contents .shorts-pants-items .shorts-pants-item .overview > * {
  display: block;
}
.shorts-pants .shorts-pants-inner .contents .shorts-pants-items .shorts-pants-item .overview span.name {
  font-size: 18px;
  font-weight: 400;
}
.shorts-pants .shorts-pants-inner .contents .shorts-pants-items .shorts-pants-item .overview span.price {
  font-family: "KHNPHD";
  font-size: 18px;
  font-weight: 900;
  margin-top: 8px;
}
.shorts-pants .shorts-pants-inner .contents button.btn-style {
  display: block;
  margin: auto;
  flex: 1;
  background-color: #fff;
  border: 1px solid #141414;
  border-radius: 5px;
  padding: 12px 24px;
  margin-top: 50px;
}
.shorts-pants .shorts-pants-inner .contents button.btn-style span {
  display: inline-block;
  min-width: 80px;
  font-size: 16px;
}

/*########### Cove-Sandle ###########*/
.cove-sandle {
  margin-top: 10vh;
}
.cove-sandle .cove-sandle-inner .cove-sandle-banner {
  position: relative;
}
.cove-sandle .cove-sandle-inner .cove-sandle-banner a {
  display: block;
}
.cove-sandle .cove-sandle-inner .cove-sandle-banner a img {
  width: 100%;
  object-fit: cover;
}
/*########### NB-Tshirts ###########*/
.nb-tshirts .nb-tshirts-inner .headline {
  margin-bottom: 24px;
}
.nb-tshirts .nb-tshirts-inner .headline h2 {
  font-family: "EB Garamond", serif;
  font-size: 50px;
  letter-spacing: -1px;
}
.nb-tshirts .nb-tshirts-inner .contents {
  width: 100%;
  overflow: hidden;
}
.nb-tshirts .nb-tshirts-inner .contents .nb-tshirts-items {
  position: relative;
  width: 100%;
  display: flex;
}
.nb-tshirts .nb-tshirts-inner .contents .nb-tshirts-items .slick-next,
.nb-tshirts .nb-tshirts-inner .contents .nb-tshirts-items .slick-prev {
  top: 38%;
  padding: 24px;
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 70%;
  z-index: 51;
  transition: 0.3s;
}
.nb-tshirts .nb-tshirts-inner .contents .nb-tshirts-items .slick-prev {
  transform: translateX(40px);
}
.nb-tshirts .nb-tshirts-inner .contents .nb-tshirts-items .slick-next {
  transform: translateX(-40px);
}
.nb-tshirts .nb-tshirts-inner .contents .nb-tshirts-items .slick-next:before,
.nb-tshirts .nb-tshirts-inner .contents .nb-tshirts-items .slick-prev:before {
  display: inline-block;
  content: "\f285";
  font-family: bootstrap-icons;
  font-size: 18px;
  font-weight: 700;
  color: #141414;
  z-index: 51;
}
.nb-tshirts .nb-tshirts-inner .contents .nb-tshirts-items .slick-prev:before {
  transform: rotateY(180deg);
}
.nb-tshirts .nb-tshirts-inner .contents .nb-tshirts-items .slick-list {
  margin: 0 -12px;
}
.nb-tshirts .nb-tshirts-inner .contents .nb-tshirts-items .slick-slide {
  margin: 0 12px;
}
.nb-tshirts .nb-tshirts-inner .contents .nb-tshirts-items .nb-tshirts-item {
  position: relative;
}
.nb-tshirts .nb-tshirts-inner .contents .nb-tshirts-items .nb-tshirts-item .thum {
  position: relative;
  width: 100%;
}
.nb-tshirts .nb-tshirts-inner .contents .nb-tshirts-items .nb-tshirts-item .thum a {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
  border-radius: 7px;
  overflow: hidden;
}
.nb-tshirts .nb-tshirts-inner .contents .nb-tshirts-items .nb-tshirts-item .thum a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nb-tshirts .nb-tshirts-inner .contents .nb-tshirts-items .nb-tshirts-item .overview .text-box {
  margin-top: 24px;
}
.nb-tshirts .nb-tshirts-inner .contents .nb-tshirts-items .nb-tshirts-item .overview .text-box > * {
  display: block;
}
.nb-tshirts .nb-tshirts-inner .contents .nb-tshirts-items .nb-tshirts-item .overview .text-box b {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}
.nb-tshirts .nb-tshirts-inner .contents .nb-tshirts-items .nb-tshirts-item .overview .text-box span {
  font-size: 16px;
  margin-top: 15px;
}
.nb-tshirts .nb-tshirts-inner .contents .nb-tshirts-items .nb-tshirts-item .overview button.btn-style {
  flex: 1;
  background-color: #fff;
  border: 1px solid #141414;
  border-radius: 5px;
  padding: 12px 24px;
  margin-top: 50px;
}
.nb-tshirts .nb-tshirts-inner .contents .nb-tshirts-items .nb-tshirts-item .overview button.btn-style span {
  display: inline-block;
  min-width: 80px;
  font-size: 16px;
}

/*########### Frozen-Cloth ###########*/
.frozen-cloth {
  margin-top: 10vh;
}
.frozen-cloth .frozen-cloth-inner h2.title {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: -1px;
}
.product-item-wrap {
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
}
.product-item-wrap .product-items {
  position: relative;
  display: flex;
  width: 100%;
}
.product-item-wrap .product-items .slick-next,
.product-item-wrap .product-items .slick-prev {
  top: 38%;
  padding: 24px;
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 70%;
  z-index: 51;
  transition: 0.3s;
}
.product-item-wrap .product-items .slick-prev {
  transform: translateX(40px);
}
.product-item-wrap .product-items .slick-next {
  transform: translateX(-40px);
}
.product-item-wrap .product-items .slick-next:before,
.product-item-wrap .product-items .slick-prev:before {
  display: inline-block;
  content: "\f285";
  font-family: bootstrap-icons;
  font-size: 18px;
  font-weight: 700;
  color: #141414;
  z-index: 51;
}
.product-item-wrap .product-items .slick-prev:before {
  transform: rotateY(180deg);
}
.product-item-wrap .product-items .slick-list {
  margin: 0 -12px;
}
.product-item-wrap .product-items .slick-slide {
  margin: 0 12px;
}
.product-item-wrap .product-items .product-item {
  flex: 1;
  display: block;
  position: relative;
}
.product-item-wrap .product-items .product-item .thum {
  position: relative;
  width: 100%;
}
.product-item-wrap .product-items .product-item .thum a {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
  border-radius: 7px;
  overflow: hidden;
}
.product-item-wrap .product-items .product-item .thum a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-item-wrap .product-items .product-item .overview {
  margin-top: 40px;
}
.product-item-wrap .product-items .product-item .overview > * {
  display: block;
}
.product-item-wrap .product-items .product-item .overview span.name {
  font-size: 18px;
  font-weight: 400;
}
.product-item-wrap .product-items .product-item .overview span.price {
  font-family: "KHNPHD";
  font-size: 18px;
  font-weight: 900;
  margin-top: 8px;
}

/*########### Weekly-Best ###########*/
.weekly-best {
  margin-top: 10vh;
}
.weekly-best .weekly-best-inner h2.title {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: -1px;
}

/*########### NB-Category ###########*/
.nb-category .nb-category-inner .headline {
  margin-bottom: 24px;
}
.nb-category .nb-category-inner .headline h2 {
  font-family: "EB Garamond", serif;
  font-size: 50px;
  letter-spacing: -1px;
}
.nb-category .nb-category-inner .nb-category-items {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
}
.nb-category .nb-category-inner .nb-category-items .nb-category-item {
  flex: 1;
}
.nb-category .nb-category-inner .nb-category-items .nb-category-item .thum {
  position: relative;
  width: 100%;
}
.nb-category .nb-category-inner .nb-category-items .nb-category-item .thum a {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
  border-radius: 7px;
  overflow: hidden;
}
.nb-category .nb-category-inner .nb-category-items .nb-category-item .thum a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nb-category .nb-category-inner .nb-category-items .nb-category-item .thum a {
  padding-top: 130%;
}
.nb-category .nb-category-inner .nb-category-items .nb-category-item .category-text {
  width: 100%;
  margin-top: 24px;
  text-align: center;
}
.nb-category .nb-category-inner .nb-category-items .nb-category-item .category-text span {
  display: inline-block;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 28px;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 2px solid #141414;
}

/*########### Footer ###########*/
footer {
  width: 100%;
  background-color: #232323;
  position: relative;
}
footer .footer-inner {
  width: 100%;
  padding: 0 350px;
}
footer .footer-inner .footer-add .footer-add-items {
  display: flex;
  justify-content: space-between;
  padding: 45px 0;
}
footer .footer-inner .footer-add .footer-add-items .footer-add-item {
  cursor: pointer;
}
footer .footer-inner .footer-add .footer-add-items .footer-add-item > * {
  display: block;
  color: #fff;
}
footer .footer-inner .footer-add .footer-add-items .footer-add-item b {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}
footer .footer-inner .footer-add .footer-add-items .footer-add-item:hover b {
  color: #cf0a2c;
}
footer .footer-inner .footer-add::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  border-bottom: 1px solid #393939;
}
footer .footer-inner .footer-info {
  margin-top: 55px;
  display: flex;
  gap: 70px;
}
footer .footer-inner .footer-info .footer-info-items {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
footer .footer-inner .footer-info .footer-info-items .footer-info-item {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
footer .footer-inner .footer-info .footer-info-items .footer-info-item > * {
  display: inline-block;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
}
footer .footer-inner .footer-info .footer-info-items .footer-info-item b {
  font-weight: normal;
  margin-bottom: 25px;
  color: #fff;
}
footer .footer-inner .footer-info .footer-info-items .footer-info-item a {
  width: fit-content;
}
footer .footer-inner .footer-info .footer-info-items .footer-info-item a:hover {
  color: #cf0a2c;
}
footer .footer-inner .footer-info .footer-info-other {
  flex: 1;
}
footer .footer-inner .footer-info .footer-info-other .sns {
  width: 80%;
  display: flex;
  gap: 16px;
  margin-bottom: 10px;
}
footer .footer-inner .footer-info .footer-info-other .sns a {
  max-width: max-content;
  position: relative;
  padding-top: 0%;
  display: flex;
  align-items: center;
  width: 10%;
  height: 10%;
}
footer .footer-inner .footer-info .footer-info-other .sns a img {
  display: inline-block;
  width: 100%;
  filter: invert(1);
}
footer .footer-inner .footer-info .footer-info-other .sns a span {
  color: #fff;
}
footer .footer-inner .footer-info .footer-info-other .sns a.blog {
  width: 14vw;
}
footer .footer-inner .footer-info .footer-info-other .sns a.blog img {
  width: 20%;
}
footer .footer-inner .footer-info .footer-info-other .sns a.blog span {
  font-family: "Montserrat", sans-serif;
  transform: translateY(-3px);
  margin-left: 4px;
}
footer .footer-inner .footer-info .footer-info-other .business .busi-info {
  display: flex;
  flex-direction: column;
}
footer .footer-inner .footer-info .footer-info-other .business .busi-info span {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: -0.4px;
  margin: 2px 0;
}
footer .footer-inner .footer-info .footer-info-other .business .busi-info span > * {
  color: rgba(255, 255, 255, 0.5);
}
footer .footer-inner .footer-info .footer-info-other .business .busi-info span b {
  cursor: pointer;
}
footer .footer-inner .footer-info .footer-info-other .business .busi-info span b::after {
  content: "/";
  display: inline-block;
  margin-left: 3px;
  font-size: 13px;
}
footer .footer-inner .footer-info .footer-info-other .business .busi-info span b:hover {
  color: #cf0a2c;
}
footer .footer-inner .footer-info .footer-info-other .business .busi-info span b:hover::after {
  color: #fff;
}
footer .footer-inner .footer-info .footer-info-other .business .busi-info span b:nth-child(1) {
  color: #fff;
}
footer .footer-inner .footer-info .footer-info-other .business .busi-info span b:nth-child(2) {
  font-weight: normal;
}
footer .footer-inner .footer-info .footer-info-other .business .busi-info span em {
  font-style: normal;
}
footer .footer-inner .footer-info .footer-info-other .business .busi-info span a:hover {
  color: #cf0a2c;
}
footer .footer-inner .footer-info .footer-info-other .contact .cont-info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
footer .footer-inner .footer-info .footer-info-other .contact .cont-info span {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin: 2px 0;
}
footer .footer-inner .footer-info .footer-info-other .contact .cont-info span > * {
  color: rgba(255, 255, 255, 0.5);
}
footer .footer-inner .footer-info .footer-info-other .contact .cont-info span em {
  font-style: normal;
}
footer .footer-inner .footer-info .footer-info-other .contact .cont-info span a {
  font-weight: 600;
  color: #fff;
  text-decoration: underline;
}
footer .footer-inner .footer-info .footer-info-other .contact .cont-info span a:hover {
  color: #cf0a2c;
}
footer .footer-inner .footer-info .footer-info-other .service .service-info {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
footer .footer-inner .footer-info .footer-info-other .service .service-info .info-text {
  margin-left: 15px;
}
footer .footer-inner .footer-info .footer-info-other .service .service-info .info-text span {
  display: block;
  color: rgba(255, 255, 255, 0.5);
}
footer .footer-inner .footer-info .footer-info-other .service .copyright {
  padding: 15px 0;
}
footer .footer-inner .footer-info .footer-info-other .service .copyright span {
  color: rgba(255, 255, 255, 0.2);
}