@import "variables.scss", "fonts.scss", "reset.scss";

*{
    font-family: $kor;
    color: $black;
}
body{
    font-size: 15px;
    margin: 0;
}

/* HTML Contents hide */
// header,
// .slide-banner,
// .korea-tshirts,
// .shorts-pants,
// .cove-sandle,
// .nb-tshirts,
// .frozen-cloth,
// .weekly-best,
// .nb-category,
// footer{
//     display: none;
// }

/*########### common CSS ###########*/
section:not(.slide-banner){
    padding: 40px 0;
}
[class*=inner]{
    width: 100%;
    padding: 0 55px;
}
.desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px 0;
    .title{
        display: flex;
        flex-direction: column;
        text-align: center;
        &>*{
            display: block;
            user-select: none;
        }
        b{
            font-family: $Eng-1st;
            font-size: 40px;
            font-weight: 800;
        }
        span{
            font-size: 18px;
            font-weight: 400;
            margin-top: 10px;
        }
    }
    .btns{
        margin-top:40px;
        display: flex;
        gap: 15px;
        button.btn-style{
            flex: 1;
            background-color: #fff;
            border: 1px solid $black;
            border-radius: 5px;
            padding: 12px 24px;
            span{
                display: inline-block;
                min-width: 80px;
                font-size: 16px;
            }
            &:last-child{
                background-color: $black;
                span{
                    color: #fff;
                }
            }
        }
    }
}
@mixin title{
    display: flex;
    flex-direction: column;
    text-align: center;
    &>*{
        display: block;
        user-select: none;
    }
    b{
        font-family: $Eng-1st;
        font-size: 40px;
    }
    span{
        font-size: 18px;
        font-weight: 400;
        margin-top: 10px;
    }
}
@mixin btn-style{
    flex: 1;
    background-color: #fff;
    border: 1px solid $black;
    border-radius: 5px;
    padding: 12px 24px;
    margin-top: 50px;
    span{
        display: inline-block;
        min-width: 80px;
        font-size: 16px;
    }
}
@mixin thum{
    position: relative;
    height: 0;
    padding-top: 120%;
    border-radius: 5px;
    img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
@mixin thum-a{
    position: relative;
    width: 100%;
    a{
        display: block;
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 100%;
        border-radius: 7px;
        overflow: hidden;
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
@mixin overview{
    margin-top: 40px;
    &>*{
        display: block;
    }
    span.name{
        font-size: 18px;
        font-weight: 400;
    }
    span.price{
        font-family: $num;
        font-size: 18px;
        font-weight: 900;
        margin-top: 8px;
    }
}
@mixin arrowBtn{
    .slick-next,
    .slick-prev{
        top: 38%;
        padding: 24px;
        display: flex;
        background-color: #fff;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        opacity: 70%;
        z-index: 51;
        transition: 0.3s;
    }
    .slick-prev{
        transform: translateX(40px);
    }
    .slick-next{
        transform: translateX(-40px);
    }
    .slick-next:before,
    .slick-prev:before{
        display: inline-block;
        content: '\F285';
        font-family: $bs-font;
        font-size: 18px;
        font-weight: 700;
        color: $black;
        z-index: 51;
    }
    .slick-prev:before{
        transform: rotateY(180deg);
    }
}


/*########### Header ###########*/
header{
    width: 100%;
    position: relative;
    z-index: 400;
    background-color: #fff;
    .header-menu{
        .header-menu-sub{
            padding: 9px 0;
            background-color: $top-sub-bg;
            .header-menu-sub-inner{
                display: flex;
                justify-content: space-between;
                .about-nb{
                    display: flex;
                    align-items: center;
                    gap: 30px;
                    .nb-country::after{
                        content: '|';
                        position: absolute;
                        display: inline-block;
                        color: rgba($black, 0.2);
                        transform: translateY(-4px);
                        margin-left: 16px;
                        cursor: none;
                    }
                }
                .help-nb{
                    display: flex;
                    align-items: center;
                    gap: 18px;
                    a{
                        font-size: 13px;
                        &:last-child::after{
                            display: none;
                        }
                        &::after{
                        content: '|';
                        position: absolute;
                        display: inline-block;
                        cursor: none;
                        color: rgba($black, 0.2);
                        transform: translateY(-2px);
                        margin-left: 8px;
                    }
                    }
                }
            }
        }
        .header-menu-main{
            position: relative;
            .header-menu-main-inner{
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .logo-gnb{
                    display: flex;
                    align-items: center;
                    gap: 45px;
                    .gnb{
                        display: flex;
                        height: 100%;
                        a{
                            flex: 1;
                            padding: 30px 0;
                            margin: 0 25px;
                            max-width: fit-content;
                            position: relative;
                            span{
                                font-family: $Eng-1st;
                                font-size: 16px;
                                font-weight: 600;
                                letter-spacing: -1px;
                            }
                            &::after{
                                content: '';
                                display: none;
                                position: absolute;
                                width: 100%;
                                bottom: 0;
                                border-bottom: 3px solid $red;
                            }
                            &:hover::after{
                                display: block;
                            }
                        }
                        .launching{
                            position: relative;
                            flex: 1;
                            padding: 30px 0;
                            margin: 0 25px;
                            max-width: fit-content;
                            cursor: pointer;
                            span{
                                color: $red;
                            }
                            &::after{
                                content: '';
                                display: none;
                                position: absolute;
                                width: 100%;
                                bottom: 0;
                                border-bottom: 3px solid $red;
                            }
                            &:hover::after{
                                display: block;
                            }
                        }
                    }
                }
                .search-login-cart{
                    display: flex;
                    align-items: center;
                    gap: 32px;
                    .search{
                        cursor: pointer;
                        .bi{
                            font-size: 30px;
                        }
                    }
                    .login-count{
                        display: flex;
                        align-items: center;
                        gap: 16px;
                        .bi{
                            font-size: 30px;
                            cursor: pointer;
                        }
                        a{
                            position: relative;
                            &:first-of-type::after{
                                content: '|';
                                position: absolute;
                                display: inline-block;
                                cursor: none;
                                color: rgba($black, 0.4);
                                font-size: 12px;
                                transform: translateY(1px);
                                margin-left: 6px;
                            }
                        }
                    }
                    .cart{
                        a{
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
    .mega-navi{
        position: absolute;
        width: 100%;
        z-index: 100;
        background-color: #fff;
        .mega-navi-inner{
            display: none;
            gap: 5px;
            padding: 0 185px;
            .mega-navi-item{
                display: flex;
                flex-direction: column;
                position: relative;
                width: 18vh;
                padding: 24px 0;
                &>*{
                    display: inline-block;
                    width: fit-content;
                    font-size: 14px;
                    margin: 5px 0;
                }
                &:not(:first-child){
                    padding-left: 30px;
                }
                &:first-child::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 95%;
                    border-right: 1px solid rgba($black, 0.2);
                }
                &:last-child::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 95%;
                    border-right: 1px solid rgba($black, 0.2);
                }
                a:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

/*########### Slide-banner ###########*/
.slide-banner{
    .slide-banner-inner{
        overflow: hidden;
        .slide-banner-items{
            display: flex;
            gap: 55px;
            z-index: 50;
            @include arrowBtn;
            .slide-banner-item{
                .slide-item-wrap{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .pic{
                        cursor: pointer;
                    }
                }
            }
            .slick-arrow{
                opacity: 0;
                transition: 0.3s;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}

/*########### Korea-Tshirts ###########*/
.korea-tshirts{
    margin-top: 10vh;
    .korea-tshirts-inner{
        display: flex;
        flex-direction: column;
        gap: 40px;
        .title{
            @include title
        }
        .contents{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .korea-tshirts-items{
                width: 100%;
                display: flex;
                justify-content: space-between;
                .korea-tshirts-item{
                    width: 24%;
                    cursor: pointer;
                    .thum{
                        @include thum
                    }
                    .overview{
                        @include overview
                    }
                }
            }
            .btn-style{
                @include btn-style
            }
        }
    }
}

/*########### Shorts-Pants ###########*/
.shorts-pants{
    margin-top: 10vh;
    .shorts-pants-inner{
        display: flex;
        flex-direction: column;
        gap: 40px;
        .title{
            @include title
        }
        .contents{
            position: relative;
            width: 100%;
            .shorts-pants-items{ // slick slider
                position: relative;
                width: 100%;
                display: flex;
                .slick-list{
                    margin: 0 -12px;
                }
                .slick-slide{
                    margin: 0 12px;
                }
                .shorts-pants-item{
                    flex: 1;
                    display: block;
                    position: relative;
                    cursor: pointer;
                    .thum{
                        @include thum
                    }
                    .overview{
                        @include overview
                    }
                }
            }
            button.btn-style{
                display: block;
                margin: auto;
                @include btn-style
            }
        }
    }
}

/*########### Cove-Sandle ###########*/
.cove-sandle{
    margin-top: 10vh;
    .cove-sandle-inner{
        .cove-sandle-banner{
            position: relative;
            a{
                display: block;
                img{
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        .desc{
            // [SAME CSS SOAUCE]
        }
    }
}

/*########### NB-Tshirts ###########*/
.nb-tshirts{
    .nb-tshirts-inner{
        .headline{
            margin-bottom: 24px;
            h2{
                font-family: $Eng-2nd;
                font-size: 50px;
                letter-spacing: -1px;
            }
        }
        .contents{
            width: 100%;
            overflow: hidden;
            .nb-tshirts-items{
                position: relative;
                width: 100%;
                display: flex;
                @include arrowBtn;
                .slick-list{
                    margin: 0 -12px;
                }
                .slick-slide{
                    margin: 0 12px;
                }
                .nb-tshirts-item{
                    position: relative;
                    .thum{
                        @include thum-a
                    }
                    .overview{
                        .text-box{
                            margin-top: 24px;
                            &>*{
                                display: block;
                            }
                            b{
                                font-family: $Eng-1st;
                                font-size: 24px;
                            }
                            span{
                                font-size: 16px;
                                margin-top: 15px;
                            }
                        }
                        button.btn-style{
                            @include btn-style
                        }
                    }
                }
            }
        }
    }
}

/*########### Frozen-Cloth ###########*/
.frozen-cloth{
    margin-top: 10vh;
    .frozen-cloth-inner{
        h2.title{
            font-family: $kor;
            font-size: 40px;
            font-weight: 900;
            letter-spacing: -1px;
        }
        @at-root .product-item-wrap{
            width: 100%;
            overflow: hidden;
            margin-top: 20px;
            .product-items{
                position: relative;
                display: flex;
                width: 100%;
                @include arrowBtn;
                .slick-list{
                    margin: 0 -12px;
                }
                .slick-slide{
                    margin: 0 12px;
                }
                .product-item{
                    flex: 1;
                    display: block;
                    position: relative;
                    .thum{
                        @include thum-a
                    }
                    .overview{
                        @include overview
                    }
                }
            }
        }
    }
}

/*########### Weekly-Best ###########*/
.weekly-best{
    margin-top: 10vh;
    .weekly-best-inner{
        h2.title{
            font-family: $kor;
            font-size: 40px;
            font-weight: 900;
            letter-spacing: -1px;
        }
    }
}

/*########### NB-Category ###########*/
.nb-category{
    .nb-category-inner{
        .headline{
            margin-bottom: 24px;
            h2{
                font-family: $Eng-2nd;
                font-size: 50px;
                letter-spacing: -1px;
            }
        }
        .nb-category-items{
            display: flex;
            width: 100%;
            gap: 20px;
            justify-content: space-between;
            .nb-category-item{
                flex: 1;
                .thum{
                    @include thum-a;
                    a{
                        padding-top: 130%;
                    }
                }
                .category-text{
                    width: 100%;
                    margin-top: 24px;
                    text-align: center;
                    span{
                        display: inline-block;
                        font-family: $kor;
                        font-size: 28px;
                        font-weight: 600;
                        cursor: pointer;
                        border-bottom: 2px solid $black;
                    }
                }
            }
        }
    }
}

/*########### Footer ###########*/
footer{
    width: 100%;
    background-color: $footer-bg;
    position: relative;
    .footer-inner{
        width: 100%;
        padding: 0 350px;
        .footer-add{
            .footer-add-items{
                display: flex;
                justify-content: space-between;
                padding: 45px 0;
                .footer-add-item{
                    cursor: pointer;
                    &>*{
                        display: block;
                        color: #fff;
                    }
                    b{
                        font-family: $Eng-1st;
                        font-size: 25px;
                    }
                    a{}
                    &:hover{
                        b{
                            color: $red;
                        }
                    }
                }
            }
            &::after{
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                left: 0;
                border-bottom: 1px solid $line;
            }
        }
        .footer-info{
            margin-top: 55px;
            display: flex;
            gap: 70px;
            .footer-info-items{
                flex: 1;
                display: flex;
                justify-content: space-between;
                .footer-info-item{
                    display: flex;
                    flex-direction: column;
                    gap: 18px;
                    &>*{
                        display: inline-block;
                        font-size: 15px;
                        color: rgba(#fff, 0.5);
                    }
                    b{
                        font-weight: normal;
                        margin-bottom: 25px;
                        color: #fff;
                    }
                    a{
                        width: fit-content;
                        &:hover{
                            color: $red;
                        }
                    }
                }
            }
            .footer-info-other{
                flex: 1;
                .sns{
                    width: 80%;
                    display: flex;
                    gap: 16px;
                    margin-bottom: 10px;
                    a{
                        max-width: max-content;
                        position: relative;
                        padding-top: 0%;
                        display: flex;
                        align-items: center;
                        width: 10%;
                        height: 10%;
                        img{
                            display: inline-block;
                            width: 100%;
                            filter: invert(1);
                        }
                        span{
                            color: #fff;
                        }
                        &.blog{
                            width: 14vw;
                            img{
                                width: 20%;
                            }
                            span{
                                font-family: $Eng-1st;
                                transform: translateY(-3px);
                                margin-left: 4px;
                            }
                        }
                    }
                }
                .business{
                    .busi-info{
                        display: flex;
                        flex-direction: column;
                        span{
                            font-size: 14px;
                            color: rgba(#fff, 0.5);
                            letter-spacing: -0.4px;
                            margin: 2px 0;
                            &>*{
                                color: rgba(#fff, 0.5);
                            }
                            b{
                                cursor: pointer;
                                &::after{
                                    content: '/';
                                    display: inline-block;
                                    margin-left: 3px;
                                    font-size: 13px;
                                }
                                &:hover{
                                    color: $red;
                                }
                                &:hover::after{
                                    color: rgba(#fff, 0.5);
                                }
                                &:nth-child(1){
                                    color: #fff;
                                    &:nth-child(1)::after{
                                        color: rgba(#fff, 0.5);
                                    }
                                    &:hover{
                                        color: $red;
                                    }
                                }
                                &:nth-child(2){
                                    font-weight: normal;
                                }
                            }
                            em{
                                font-style: normal;
                            }
                            a:hover{
                                color: $red;
                            }
                        }
                    }
                }
                .contact{
                    .cont-info{
                        display: flex;
                        flex-direction: column;
                        margin-top: 10px;
                        span{
                            font-size: 14px;
                            color: rgba(#fff, 0.5);
                            margin: 2px 0;
                            &>*{
                                color: rgba(#fff, 0.5);
                            }
                            em{
                                font-style: normal;
                            }
                            a{
                                font-weight: 600;
                                color: #fff;
                                text-decoration: underline;
                                &:hover{
                                    color: $red;
                                }
                            }
                        }
                    }
                }
                .service{
                    .service-info{
                        display: flex;
                        align-items: center;
                        margin-top: 12px;
                        .info-text{
                            margin-left: 15px;
                            span{
                                display: block;
                                color: rgba(#fff, 0.5);
                            }
                        }
                    }
                    .copyright{
                        padding: 15px 0;
                        span{
                            color: rgba(#fff, 0.2);
                        }
                    }
                }
            }
        }
    }
}