// Setting Variables : Font-Family
$Eng-1st: "Montserrat", sans-serif;
$Eng-2nd: "EB Garamond", serif;
$num: 'KHNPHD';
$kor: "Noto Sans KR", sans-serif;
$bs-font: bootstrap-icons;

// Setting Variables : Text-Color
$black: #141414;
$red: #cf0a2c;

// Setting Variables : Object-Color
$top-sub-bg: #e5e5e5;
$footer-bg: #232323;

// Setting Variables : Other
$line: #393939;